h1 {
    background: red;
}
.paragraph1{
    background: blue;
    font-size: 32pt;
    color: green;
    border: 10px solid yellow;
    border-radius: 10px;
}
.paragraph2{
    font-size: 24pt;
    font-style: oblique;
    text-align: center;
    text-shadow: 3px -4px 5px green;
}